@charset "utf-8";
html{color:#666;background:#eee}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,p,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
fieldset,img{border:0}
li{list-style:none}
em,strong,th{font-style:normal;font-weight:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-weight:inherit;font-style:inherit}
input,button,textarea,select{*font-size:100%}
textarea{resize:none}
table{border-collapse:collapse;border-spacing:0}
/*  body  */
body{font-size:12px;font-family:Arial, "宋体";color:#666}

.footer{text-align:center;font:500 14px/28px "微软雅黑";color:#999;padding:22px 0}
.log_box{width:406px;height:385px;background:url(../img/logbg.jpg) no-repeat;overflow:hidden;margin:140px auto 155px auto}
.log_table{color:#ac4b04;margin-top:162px}
.log_table td{padding-bottom:10px;}
.log_table label{color:#ac4b04;font:500 14px "微软雅黑"}
.log_inp{border:1px #e48d22 solid;background:#fff;width:172px;padding:5px}
.log_btn{display:inline-block;width:99px;height:28px;font:500 14px/28px "微软雅黑";background:#ac4b04;color:#fff;text-align:center;text-decoration:none;margin-right:10px;}
.log_btn:hover{text-decoration:underline}
.pt15{padding-top:15px}