@charset "utf-8";
html{color:#666;background:#353130}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,p,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
fieldset,img{border:0}
li{list-style:none}
em,strong,th{font-style:normal;font-weight:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-weight:inherit;font-style:inherit}
input,button,textarea,select{*font-size:100%}
textarea{resize:none}
table{border-collapse:collapse;border-spacing:0}
/*  body  */
body{font-size:12px;font-family:Arial, "宋体";color:#666}
/*a:link,a:visited{color:#666;text-decoration:none}*/
a{color:#666;text-decoration:none}
a:hover{color:#F00;text-decoration:underline}

/* 
a,area {blr:expression(this.onFocus=this.blur()) }   //IE
a:focus {outline:none;}                              //FF
*/
.clearfix:after{clear:both;content: ".";display: block;height:0;line-height:0;visibility:hidden;}
.clearfix{zoom:1}
.fl{display:inline;float:left}.fr{display:inline;float:right}
.imgbor{padding:2px;background:#fff;border:1px #ccc solid}
.mt10{margin-top:10px}.mt20{margin-top:20px}.mt24{margin-top:24px}.mt30{margin-top:30px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.mb10{margin-bottom:10px}
.pt30{padding-top:30px}
.fb{font-weight:bold}.f14{font-size:14px}
.rel{position:relative}
.tl{text-align:left}.tc{text-align:center}.tr{text-align:right}
.none{display:none}
.nobort{border-top:none !important}.noborb{border-bottom:none !important}.noborl{border-left:none !important}.noborr{border-right:none !important}

/*header and footer*/
.header{height:100px;background:url(../img/header-x.jpg) repeat-x}
.logo{width:279px;height:100px;background:url(../img/logo.jpg) no-repeat;overflow:hidden;margin-left:34px}
.logo a{display:block;width:100%;height:100px;text-indent:-999em}
.user_name{float:right;}
.user_name em{float:right;padding-right:30px;color:#fff;font:500 16px/100px "微软雅黑"}
.user_name a{color:#fff}
.user_name a:hover{color:#fff}
.exit{float:right;width:22px;height:21px;background:url(../img/tuichu.jpg) no-repeat;text-indent:-999em;margin:40px 33px 0 0}
.footer{text-align:center;font:500 14px/28px "微软雅黑";color:#a69f8f;background:#353130;padding:22px 0}

/*content*/
.content{width:auto;height:auto;background:url(../img/side_menu.jpg) repeat-y left top #f6f3ee}
/*side_menu*/
.side_menu{display:block;overflow:hidden;float:left;width:250px}
.side_menu dl{width:235px}
.side_menu dl dt{height:88px;color:#fff;font:500 24px/88px "微软雅黑";padding-left:34px}
.side_menu dl dd{height:66px;width:235px;overflow:hidden;}
.side_menu dl dd.line{height:2px;width:220px;overflow:hidden;background:url(../img/side_menu_line.jpg) no-repeat left top}
.side_menu dl dd a{display:inline-block;height:66px;width:169px;padding-left:67px;font:500 16px/66px "微软雅黑";color:#a69f8f}
/*.side_menu dl dd:hover{background:url(../img/side_menu_cur.jpg) no-repeat right top #302c2b;}*/
.side_menu dl dd.cur_hover{background:url(../img/side_menu_cur.jpg) no-repeat 221px top #302c2b;}
.side_menu dl dd a:hover{text-decoration:none;color:#fff}
.ico1{background:url(../img/ico1.jpg) no-repeat 30px center}
.ico2{background:url(../img/ico2.jpg) no-repeat 30px center}
.ico3{background:url(../img/ico3.jpg) no-repeat 30px center}
.ico4{background:url(../img/ico4.jpg) no-repeat 30px center}
.ico5{background:url(../img/ico5.jpg) no-repeat 30px center}
.ico6{background:url(../img/ico6.jpg) no-repeat 30px center}
.ico7{background:url(../img/ico7.jpg) no-repeat 30px center}
.ico8{background:url(../img/ico8.jpg) no-repeat 30px center}
.ico9{background:url(../img/ico9.jpg) no-repeat 30px center}
.ico10{background:url(../img/ico10.jpg) no-repeat 30px center}
.ico11{background:url(../img/ico11.jpg) no-repeat 30px center}
.ico1:hover{background:url(../img/ico1_hover.jpg) no-repeat 30px center}
.ico2:hover{background:url(../img/ico2_hover.jpg) no-repeat 30px center}
.ico3:hover{background:url(../img/ico3_hover.jpg) no-repeat 30px center}
.ico4:hover{background:url(../img/ico4_hover.jpg) no-repeat 30px center}
.ico5:hover{background:url(../img/ico5_hover.jpg) no-repeat 30px center}
.ico6:hover{background:url(../img/ico6_hover.jpg) no-repeat 30px center}
.ico7:hover{background:url(../img/ico7_hover.jpg) no-repeat 30px center}
.ico8:hover{background:url(../img/ico8_hover.jpg) no-repeat 30px center}
.ico9:hover{background:url(../img/ico9_hover.jpg) no-repeat 30px center}
.ico10:hover{background:url(../img/ico10_hover.jpg) no-repeat 30px center}
.ico11:hover{background:url(../img/ico11_hover.jpg) no-repeat 30px center}

.side_menu dl dd.cur{background:url(../img/side_menu_cur.jpg) no-repeat 221px top #302c2b}
.side_menu dl dd.cur .ico1{background:url(../img/ico1_hover.jpg) no-repeat 30px center}
/*.main_con*/
.main_con{display:block;overflow:hidden;padding:0 30px 30px 0}
.here{height:87px;font:500 14px/87px "微软雅黑";color:#999}
.here a.c_f5780a{color:#f5780a}
.here a{color:#999}
.main_box{border:1px #dbdbdb solid;padding:0 20px 20px 20px;background:#fff}
.part1{width:100%;padding-top:20px}
.part1 p{float:left;height:44px}
.part1 p .txt1{font:500 16px/32px "微软雅黑";color:#555}
.btn1,.btn2{float:left;width:179px;height:44px;text-align:center;font:500 16px/44px "微软雅黑";color:#555;background:url(../img/btn1.jpg) no-repeat;margin-right:10px}
.btn_cur{color:#555;background:url(../img/btn1.jpg) left -44px no-repeat;color:#fe8c1b;font-weight:bold}
.search{float:right;width:318px;height:30px;border:1px #eae9e4 solid;color:#d8d2c8;background:#fff}
.search label{float:left;font:500 14px/30px "微软雅黑";padding-left:10px}
.search p{float:right;width:265px;height:30px}
.search p .search_txt{width:230px;height:30px;font:500 14px/30px "微软雅黑";border:none;background:transparent;color:#d8d2c8;float:left;}
.search p .search_btn{width:27px;height:30px;border:none;background:url(../img/sosoBtn.jpg) no-repeat;overflow:hidden;float:right;}
.biao1{border:1px #eae9e4 solid;width:100%}
.biao1 td{border-right:1px #eae9e4 solid;border-bottom:1px #eae9e4 solid;text-align:center;padding:15px 0;font:500 14px "微软雅黑";color:#555}
.baio1_tit td{text-align:center;font:500 14px/40px "微软雅黑";color:#555;padding:0}
.baio1_tit td a{color:#555;}
.del_btn{display:block;width:22px;height:22px;background:url(../img/del.jpg) no-repeat;overflow:hidden;text-indent:-999em;margin:0 auto;}
.del_btn:hover{background:url(../img/del_hover.jpg) no-repeat}
.compile_btn{display:block;width:24px;height:23px;background:url(../img/compile_btn.jpg) no-repeat;overflow:hidden;text-indent:-999em;}

.biao2{width:98%;margin:0 auto;border-top:1px #eae9e4 solid}
.biao2 td{text-align:center;padding:15px 0;}
.sort{display:inline-block;background:url(../img/jt1.jpg) no-repeat right center;padding-right:15px}
.pag{width:100%;text-align:right;padding:20px 0}
.pag a{display:inline-block;width:30px;height:30px;text-align:center;line-height:30px;font-family:arial;font-size:16px;border:1px #eae9e4 solid;background:#fff;overflow:hidden;margin-left:10px}
.pag a:hover{background:#fffae5;border:1px #f0dd93 solid;color:#fe8c1b}
.pag a.cur{background:#fffae5;border:1px #f0dd93 solid;color:#fe8c1b}
.pag a.next_btn{width:60px}
.double_btn{width:50px;margin:0 auto}
.c_e1bca0{color:#e1bca0}
.c_e1bca0:hover{color:#c00}
.c_fe8c1b{color:#fe8c1b}
.c_aaa{color:#aaa}
.c_fe8c1b:hover{color:#fe8c1b}
.baio1_tit2 td{text-align:center;font:500 14px/42px "微软雅黑";color:#555;background:url(../img/tab_line.jpg) repeat-x;padding:0}
.tj_btn{display:block;width:280px;height:44px;font:500 16px/44px "微软雅黑";color:#fff;background:#fe8c1b;text-align:center;margin:20px 0 0 20px}
.form1{padding-top:20px}
.form_tit{font:600 16px/28px "微软雅黑";color:#555;display:block;padding-bottom:30px}
.form_box{padding:5px 0;}
.form_box label{float:left;font:500 16px/28px "微软雅黑";color:#555;width:150px;text-align:right;margin-right:10px}
.form_txt1{float:left;width:278px;border:1px #eae9e4 solid;height:30px;line-height:30px;font:500 14px/30px "微软雅黑";color:#555;padding:0 5px}
.tj_btn2{margin:20px 0 0 160px}
.select_box{float:left;position:relative;z-index:99}
.select_box .myselect{display:block;width:278px;height:30px;border:1px #eae9e4 solid;font:500 14px/30px "微软雅黑";color:#555;padding:0 5px;cursor:pointer;background:url(../img/jt2.jpg) no-repeat 270px center}
.select_box .select_ul{background:#fff;width:288px;border:1px #eae9e4 solid;position:absolute;top:30px;left:0;display:none;z-index:999}
.select_box .select_ul li{width:280px;padding:0 5px;font:500 14px/30px "微软雅黑";cursor:pointer}
.select_box .select_ul li.cur{color:#c00;}
.z-index100{z-index:100}
.form_tj_txt{float:left;font:500 14px/30px "微软雅黑";color:#aaa;padding-left:10px}
.box2{padding-top:30px;}
.box2_tit{display:block;font:600 16px/32px "微软雅黑";color:#555;padding-bottom:10px;border-bottom:1px #eae9e4 solid}
.box2_ul{width:98%;margin:0 auto;border-top:1px #f3f2ed solid;padding:20px 0;}
.box2_ul li{font:500 14px/28px "微软雅黑";color:#555}
.box2_ul li label{display:inline-block;width:85px;text-align:right;font:600 14px/28px "微软雅黑";color:#555;margin-right:10px;} 
.box2_dl{width:98%;margin:0 auto;}
.box2_dl dt{width:85px;text-align:right;font:600 14px "微软雅黑";color:#555;margin-right:10px}
.tj_btn3{margin:20px 0 0 97px;width:288px;}
.blockheight{height:150px;text-align:center;font:500 14px/150px "微软雅黑";color:#000;margin-top:20px}